<!-- Page Content -->
<div class="container">




    <!-- Intro Content -->
    <div class="row">

            <div class='tableauPlaceholder' id='viz1492448235240' style='position: relative'><noscript><a href='#'><img alt='Sexual Assault Predictions ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;T7&#47;T7SW5WBWP&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='path' value='shared&#47;T7SW5WBWP' /> <param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;T7&#47;T7SW5WBWP&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1492448235240');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>


    </div>
    <!-- /.row -->
<br>
<p>*This map shows predicted and actual number of sexual assaults for 2015. We used 2013, 2014, and 2015 data to train our models,
  and then removed the number of sexual assaults and had our models predict the number. The predictions are fairly accurate,
  but they are just that, predictions, and should not be treated in any way as real data.

</div>
<!-- /.container -->
