<!-- Page Content -->
<div class="container">
<br>
    <div class="row">
      <div class="col-lg-2"></div>
        <div class="col-lg-8 text-center">
            <%= image_tag("liquor") %>
            <br>
            <p>the most influential variables in predicting sexual assault</p>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <!-- /.row -->

    <!-- Intro Paragraph -->
    <div class="row">
        <div class="col-lg-12">

          <h3>Introduction</h3>

          <p>Sexual violence on campuses is certainly not a new problem. It is unfortunately pervasive. More than one in ten university students will experience some form of sexual violence during their time at school. (https://www.rainn.org/statistics/campus-sexual-violence) </p>

          <p>This topic is especially important in light of the recent developments at BYU concerning Title IX. &ldquo;In May 2016, BYU President Kevin J Worthen organized the Advisory Council on Campus Response to Sexual Assault with a charge to identify changes that will help BYU work toward the elimination of sexual assault on campus&rdquo; (https://news.byu.edu/title-ix). Hearing the heartbreaking experiences of our fellow students urged us to consider this prevalent issue.
            Our goal was to build strong enough models that would allow us to
            be able to predict sexual assault on college campuses. </p>

          <p>We chose to limit the scope of our project to colleges and universities in the United States, to avoid any skewing of the data due to different cultures in other countries. We also chose to exclude two-year, for-profit universities for two reasons: the nature of the institution is fundamentally different from other institutions (being for-profit), and we had reason to believe that the reporting of for-profit schools was less accurate than other institutions. </p>

          <p>After researching for reputable data sources, the best and most complete data we could find was concerning crimes on college campuses. We chose to focus our efforts on discovering whether and how the following factors affect sexual crimes: enrollment (total and men vs. women), other crimes (i.e. arson, robbery, etc.) and corresponding city population. Due to time constraints and unavailability of data we regretfully were unable to explore countless other factors that may or may not contribute to issues of sexual violence. </p>

          <p>We hope that our work will be able to provide insights into what could contribute to or affect &ldquo;rape culture&rdquo; at a given institution, or campuses in the US in general. Our goal is to aid administrators and law enforcement in drafting and enacting policy changes to make positive progress.</p>

        </div>
    </div>
    <!-- /.row -->


    <!-- Report -->
    <div class="row">
        <div class="col-lg-12">
          <h3>Report & Findings</h3>
          <p>Negligent manslaughter, murder, and weapons related crimes have almost no correlation to Sexual Assaults. This makes sense statistically in light of the scarcity of these crimes, and logically we also can draw conclusions that if there is a murder then the odds of sexual assault should not necessarily be affected. Negligent manslaughter refers to an unintentional killing that results from recklessness or criminal negligence, or from an unlawful act that is a misdemeanor or low-level felony (such as a DUI). This also does not lend itself to prediction of sexual crimes. Arson is another crime that similarly holds very little predictive capabilities in regards to sexual assault.</p>

          <p>Men and women totals were very predictive columns, which makes sense because the most common situation in which sexual assaults occur is between a man and a woman (https://sapac.umich.edu/article/196). From a policy standpoint this information is valuable, but not extremely useful in the formulation of prevention policy, because you cannot simply remove one or the other gender. </p>

          <p>One column that we thought would hold more predictive power than what the data actually proved was population. One of our early suppositions was that areas with higher population would have higher crime, and thus higher incidences of sexual assault. This line of thinking turned out to be fallacious, as the data went on to show in almost all algorithms, that the population of the city where a school is based has little to do with the amount of sexual assaults that will transpire there. </p>

          <p>In contrast with population, the type of university you are at actually does seem to be aligned with the number of sexual assaults that will happen. We predicted that this would be the case, and the data proved us right. Whether you are at a 4-year for profit institution, or a 2-year non-profit institution actually can make a difference in the number of sexual assaults. VisMiner identified liquor violations as one of the most predictive variables, which was very significant to us. We also believed prior to running any algorithms on the data that liquor would be tied to the number of sexual assaults. This is very important from a policy standpoint and is our biggest takeaway from this entire process. Liquor violations are very related to the number of sexual assaults that occur on a campus. This is very useful to any administration who is looking to lower incidences of sexual assault. They now can see what is affecting sexual assaults, and can make decisions and policies that work towards limiting the assaults. Removing liquor from campuses, or even being more strict with liquor rules could have huge results for any university that decides to implement these policies.</p>

          <p>We are confident in our results because of how we prepared the data, the number of algorithms we ran on the data, and the predictions and correlations we can see because of the algorithms we used. We believe this data will be useful to many administrators as they move towards limiting sexual crimes. If they work on limiting alcohol violations, they will also be able to limit sexual assaults. This is our goal, and the data shows a way that we can achieve it. </p>

    </div>
    <!-- /.row -->





</div>
<!-- /.container -->
