<%# add navigation links to this file %>

        <li>
            <%= link_to 'Report', page_path('report') %>
        </li>

        <li>
            <%= link_to 'Prediction Map', page_path('map') %>
        </li>

        <li>
            <%= link_to 'Contact', page_path('contact') %>
        </li>
